body{

	.header__bannerContainer{
		display: flex;
		justify-content: center;
		background: linear-gradient(45deg, cornflowerblue, pink);
		.header__banner{
			width: 40%;
			height: 15rem;
			background-image: url("../imagenes/Banner.jpg");

		}
	}
	.header__titulo{
		color:red;
        display: flex;
    	justify-content: center;
	}
	.header__navegacion{
		width: 100%;
		margin: 30px auto;
		background-color: aqua;
		
		ul{
			list-style: none;
		}
	
	.header__menu{
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
			.dropdown{
				margin-left:  20px;

			}
			.btn{
				margin-left: 20px;
				color: whitesmoke;
				a{
					text-decoration: none;
					color: whitesmoke;
				}
			}
		}
	}
	h3{color:grey;
		display: flex;
		justify-content: center;
		&:hover{
			transform: scale( 1,2);
		}
	}
	.table-container{
		padding: 20px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.indexTable{
			margin-left: 25%;
			width: 50%;
			max-height: 20%;
			.auriculares-cont{
				display: flex;
				flex-direction: column;
				justify-content: center;
				background-color: cornflowerblue;
				margin-left: 25%;
				padding: 20px;
				border-radius: 5px;
			}
			.__flexTr{ 
				width: 70%;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: cornflowerblue;
				.--presentation{
					width: 50%;
					border-radius: 10px;
					margin: 20px;
				}

				.--letrasAzules{
					
				}
			}
			audio{
				margin-top: 10px;
                width: 70%;
            }
            video{
				margin-top: 10px;
                width: 70%;
            }
			.__flexTr1{
				background-color: cornflowerblue;
				.--presentation{
					width: 70%;
					border-radius: 10px;
					margin: 20px;
				}

				.--letrasAzules{
					text-align: justify;
					margin: 10px;
					color:blue;
				}
				td{
					text-align: justify;
				}
			}
		}
	}
}

ul li{color: green;}


$mapa:( "1": red, "2": blue, "3":orange );

@each $key, $value in $mapa {
	 .view-#{$key}{
		 background-color: $value;
	 }
}


.tabla-contacto{
	width: 90%;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	.___contacto-container{
		
		.--contacto-info{
			.myIframe{
				border-radius: 20px;
				margin: 10px;
			}
		}
	}
}


.formContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	.input{
		display: flex;
        justify-content: center;
		margin-top: 10px;
		label{
			width: 5%;
			min-width: 10%;
		}
		input{
			width: 30%;
		}
	}
	.input-textarea{
		margin-left: 30%;
		margin-top: 10px;
		textarea{
			width: 57%;
		}
	}
	.formButtonContainer{
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 20%;
		margin-top: 10px;
		margin-left: 40%;
	}
}



footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
	padding-top: 10px;
	background: #c31432;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	.container{
			
		.breadcrumb{
			.breadcrumb-item{
				a{
					text-decoration: none;
					color: whitesmoke;
				}
			}
		}
		
		.btn{
			width: 40%;
		}
		.socialNetworks{
			display: flex;
			flex-direction: row;
	
			overflow-x: hidden;
			img{
				width: 10%;
				margin-left: 0.5rem;
			}
		}
	}
	
}

.padre > div {
border: 2px solid black;
}

.padre{ 
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 50px 50px;
    grid-gap: 2px;
    
} 

.tablaInfo{
    padding-top: 3rem;
} 
       
       