h1 {
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .header__bannerContainer {
  padding-left: 30%;
  background: linear-gradient(45deg, cornflowerblue, pink);
}

body .header__bannerContainer .header__banner {
  width: 50%;
  height: 15rem;
  background-image: url("../imagenes/Banner.jpg");
}

body .header__titulo {
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .header__navegacion {
  width: 100%;
  margin: 30px auto;
  background-color: aqua;
}

body .header__navegacion ul {
  list-style: none;
}

body .header__navegacion .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .header__navegacion .header__menu .dropdown {
  margin-left: 20px;
}

body .header__navegacion .header__menu .btn {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

body .header__navegacion .header__menu .btn:hover {
  color: black;
}

body h3 {
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body h3:hover {
  -webkit-transform: scale(1, 2);
          transform: scale(1, 2);
}

body .indexTable {
  margin-left: 20%;
  width: 60%;
  background-color: cornflowerblue;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .indexTable td {
  text-align: justify;
  width: 30%;
  height: 10%;
}

body .indexTable .__flexTr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .indexTable .__flexTr .--presentation {
  width: 70%;
  border-radius: 10px;
  margin: 20px;
}

body .indexTable .__flexTr .--letrasAzules {
  text-align: justify;
  margin: 10px;
  color: blue;
}

body .indexTable .__flexTr1 .--presentation {
  width: 70%;
  border-radius: 10px;
  margin: 20px;
}

body .indexTable .__flexTr1 .--letrasAzules {
  text-align: justify;
  margin: 10px;
  color: blue;
}

ul li {
  color: green;
}

.view-1 {
  background-color: red;
}

.view-2 {
  background-color: blue;
}

.view-3 {
  background-color: orange;
}

.navBar li a {
  width: 6rem;
  height: 1.5rem;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  border: 1px solid black;
}

.myIframe {
  border-radius: 20px;
  margin: 10px;
}

.formContainer {
  margin-left: 30%;
}

.formContainer form {
  margin-left: 10%;
}

.formButtonContainer {
  margin-top: 10px;
  margin-left: 8%;
}

form .input {
  margin-top: 10px;
}

.socialNetworks img {
  width: 3rem;
  margin: 10px 20px;
}

footer {
  margin-top: 4rem;
  margin-left: 35%;
}

.padre > div {
  border: 2px solid black;
}

.padre {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -ms-grid-rows: 50px 50px;
      grid-template-rows: 50px 50px;
  grid-gap: 2px;
}

/* MEDIA QUERE */
@media only screen and (min-width: 768px) {
  #padre {
    background-color: aquamarine;
        grid-template-areas: 1fr;
  }
}

@media only screen and (max-width: 320px) {
  #padre {
    background-color: yellowgreen;
        grid-template-areas: 1fr;
  }
}

.tablaInfo {
  padding-top: 3rem;
}
/*# sourceMappingURL=main.css.map */