body .header__bannerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(45deg, cornflowerblue, pink);
}

body .header__bannerContainer .header__banner {
  width: 40%;
  height: 15rem;
  background-image: url("../imagenes/Banner.jpg");
}

body .header__titulo {
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .header__navegacion {
  width: 100%;
  margin: 30px auto;
  background-color: aqua;
}

body .header__navegacion ul {
  list-style: none;
}

body .header__navegacion .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .header__navegacion .header__menu .dropdown {
  margin-left: 20px;
}

body .header__navegacion .header__menu .btn {
  margin-left: 20px;
  color: whitesmoke;
}

body .header__navegacion .header__menu .btn a {
  text-decoration: none;
  color: whitesmoke;
}

body h3 {
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body h3:hover {
  -webkit-transform: scale(1, 2);
          transform: scale(1, 2);
}

body .table-container {
  padding: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .table-container .indexTable {
  margin-left: 25%;
  width: 50%;
  max-height: 20%;
}

body .table-container .indexTable .auriculares-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: cornflowerblue;
  margin-left: 25%;
  padding: 20px;
  border-radius: 5px;
}

body .table-container .indexTable .__flexTr {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: cornflowerblue;
}

body .table-container .indexTable .__flexTr .--presentation {
  width: 50%;
  border-radius: 10px;
  margin: 20px;
}

body .table-container .indexTable audio {
  margin-top: 10px;
  width: 70%;
}

body .table-container .indexTable video {
  margin-top: 10px;
  width: 70%;
}

body .table-container .indexTable .__flexTr1 {
  background-color: cornflowerblue;
}

body .table-container .indexTable .__flexTr1 .--presentation {
  width: 70%;
  border-radius: 10px;
  margin: 20px;
}

body .table-container .indexTable .__flexTr1 .--letrasAzules {
  text-align: justify;
  margin: 10px;
  color: blue;
}

body .table-container .indexTable .__flexTr1 td {
  text-align: justify;
}

ul li {
  color: green;
}

.view-1 {
  background-color: red;
}

.view-2 {
  background-color: blue;
}

.view-3 {
  background-color: orange;
}

.tabla-contacto {
  width: 90%;
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tabla-contacto .___contacto-container .--contacto-info .myIframe {
  border-radius: 20px;
  margin: 10px;
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.formContainer .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.formContainer .input label {
  width: 5%;
  min-width: 10%;
}

.formContainer .input input {
  width: 30%;
}

.formContainer .input-textarea {
  margin-left: 30%;
  margin-top: 10px;
}

.formContainer .input-textarea textarea {
  width: 57%;
}

.formContainer .formButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  margin-top: 10px;
  margin-left: 40%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 20px;
  padding-top: 10px;
  background: #c31432;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#240b36), to(#c31432));
  background: linear-gradient(to right, #240b36, #c31432);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer .container .breadcrumb .breadcrumb-item a {
  text-decoration: none;
  color: whitesmoke;
}

footer .container .btn {
  width: 40%;
}

footer .container .socialNetworks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden;
}

footer .container .socialNetworks img {
  width: 10%;
  margin-left: 0.5rem;
}

.padre > div {
  border: 2px solid black;
}

.padre {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
  -ms-grid-rows: 50px 50px;
      grid-template-rows: 50px 50px;
  grid-gap: 2px;
}

.tablaInfo {
  padding-top: 3rem;
}
/*# sourceMappingURL=main.css.map */